
<%= favicon_link_tag 'favicon_2.ico' %>

<nav>
	<div class="home_logo">
		<%= image_tag "GW_logo_recolour.png", alt: "GWL Logo", id: "logo_img" %>
	</div>

	<section id="nav_buttons">
		<div id="about-button">
			<%= button_to "ABOUT", about_path, method: "get" %>
		</div>

		<div id="contact-button">
			<%= button_to "CONTACT", contact_path, method: "get" %>
		</div>

		<div id="news-button">
			<%= button_to "NEWS", news_path, method: "get" %>
		</div>

		<div id="client-area-button">
			<button id="client_area">
				LOGIN
			</button>
		</div>
	</section>
</nav>

<section id="colour_bar">
</section>